/* General Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Fira Code", sans-serif;
}

/* Navbar Styles */
.navbar {
    transition: 0.5s;
}

.navbar-brand {
    opacity: 0.5;
    padding-left: 5px;
}

.navbar-brand span {
    display: none;
}

.navbar-scrolled {
    background-color: black;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);

    .navbar-brand {
        opacity: 1;
    }

    .navbar-brand span {
        display: inline;
    }

    a {
        color: #FFFFFF;
    }
}

/* Title Styles */
#title {
    height: 95vh;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./images/hex-background.png"), url(./images/background-shading.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.title-text-container {
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 30%;
}

h1 {
    font-family: "Inria serif", serif;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 2vw;
}

.title-text-container>h2 {
    margin-top: 5rem;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
}

.arrow-container {
    position: relative;
    top: 47.37%;

    path {
        fill: #C1C1C1;
    }
}

.arrow-container path,
.arrow-container svg {
    transition: 0.3s;
}

.arrow-container:hover {
    path {
        fill: #FFFFFF;
    }

    svg {
        height: 48px; /* only px because this feature is intended for laptop/desktop users */
    }
}

/*About Styles*/
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    gap: 13vw;
}

.about-text-container h2 {
    color: #293A80;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: bolder;
}

.about-text-container p {
    font-size: 1.2rem;
    width: 30rem;
}

.about-image-container {
    display: flex;
    position: relative;
}

.about-image-container * {
    border-radius: 20px;
}

.about-image-container img {
    height: 20rem;
    z-index: 3;
}

.about-image-container div {
    height: 20rem;
    width: 20rem;
}

.about-image-container #image-background-1 {
    position: absolute;
    background-color: #293A80;
    z-index: 1;
    right: 1rem;
    bottom: 1.5rem;
}

.about-image-container #image-background-2 {
    position: absolute;
    background-color: #537EC5;
    z-index: 2;
    left: 1rem;
    top: 1.5rem;
}

/*Projects Styles*/
#projects {
    color: #FFFFFF;
    background: linear-gradient(180deg, #223E76, #010038);
    height: 47rem;
}

.hex-projects-background {
    background-image: url("./images/hex-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#projects h2 {
    padding-top: 4rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
    font-weight: bolder;
}

.projects-container-flex-only {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-container {
    display: grid;
    grid-template-rows: 13rem 13rem;
    grid-template-columns: 23rem 23rem;
    grid-row-gap: 3.7rem;
    grid-column-gap: 16.667vw;
}

.projects-container div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-background-pair-1 {
    background-color: #537EC5;
    border-radius: 20px;
}

.project-background-pair-2 {
    background-color: #3D4C8F;
    border-radius: 20px;
}

/* Contact Styles */
#contact {
    position: relative;
    height: 35rem;
}

.hex-corner {
    position: absolute;
    z-index: 1;
    height: 15rem;
}

#hex-corner-1 {
    right: 0;
}

#hex-corner-2 {
    transform: rotate(180deg);
    bottom: 0;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.3rem;
    height: 100%;
    text-align: center;
}

#envelope {
    height: 6.5rem;
}

.contact-container h2 {
    font-size: 2.7rem;
    font-weight: bolder;
}

.contact-container p {
    font-size: 1.2rem;
}

.contact-container button {
    color: #FFFFFF;
    background-color: #E87500;
    font-weight: bolder;
    font-size: 1.2rem;
    padding: 1em;
    border-radius: 20px;
    border: none;
}

/* Footer Styles */
#footer > div {
    background-image: url("./images/hex-background.png"), url(./images/background-shading.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

/* Miscellaneous Styles */
.gradient-background {
    background: linear-gradient(135deg, #E87500, #25336D, #1B2757, #010038, #E87500);
    background-size: 180% 180%;
    animation: gradient-animation 14s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 990px) {
    html {
        font-size: 12px;
    }

    #about {
        flex-direction: column;
        height: 63rem;
        gap: 13vw;
    }

    .about-text-container h2 {
        text-align: center;
    }

    .about-text-container p {
        text-align: center;
    }

    #projects {
        height: 80rem;
    } 

    #projects h2 {
        text-align: center;
        margin-left: 0rem;
    }

    .projects-container {
        grid-template-rows: 13rem 13rem 13rem 13rem;
        grid-template-columns: 23rem;
    } 
}

@media (max-width: 500px) {
    html {
        font-size: 13px;
    }

    h1 {
        letter-spacing: 0.6rem;
    }

    .hex-corner {
        height: 10rem;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 9.5px;
    }
}